# Python cache
__pycache__/
*.py[cod]

# Build
build/
dist/
*.egg-info/


# Environment variables
.env

# Local vector database (optional)
chroma_db/
.chroma/

# PDF documents
*.pdf


# OS files
.DS_Store
Thumbs.db